/* Ajustes na nav */
.navbar{
    padding-inline: 100px;
}

.banner{
    height: 200px;
}

#background{
    background-image: url(../_images/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    justify-content: center;
}

.btn{
    padding-left: ;
}